SITE_URL=http://localhost:43921
BASE_PATH=/
PUBLIC_SEARCH_API_URL=http://localhost:3001/api/search
PUBLIC_REPOSITORY_URL=https://github.com/dyazincahya/KBBI-SQL-database
UI_DATABASE_PATH=../api/data/search.sqlite
